[submodule "roles/nodejs"]
	path = roles/nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs
[submodule "roles/go"]
	path = roles/go
	url = https://github.com/geerlingguy/ansible-role-go
[submodule "roles/bind9"]
	path = roles/bind9
	url = https://github.com/systemli/ansible-role-bind9
